.event-page{margin-top:20px;
  background:rgb(31, 31, 31)
  }
  
  .timeline {
    list-style: none;
    background-repeat: repeat-y;
    background-position: center top;
    padding: 0;
    margin: 2em 0;
    text-align: center
  }
  
  .timeline-marker {
    clear: both;
    background: #fff
  }
  
  .timeline-marker:after,
  .timeline-marker:before {
    width: 12px;
    height: 12px;
    background: #1b1b1b;
    margin: 0 auto;
    border-radius: 100%;
    display: block;
    content: ' '
  }
  
  .timeline-marker:before {
    display: none
  }
  
  .timeline-marker.timeline-marker-bottom h1,
  .timeline-marker.timeline-marker-bottom h2,
  .timeline-marker.timeline-marker-bottom h3,
  .timeline-marker.timeline-marker-bottom h4,
  .timeline-marker.timeline-marker-bottom h5 {
    margin: 5px 0 0
  }
  
  .timeline-marker.timeline-marker-bottom:before {
    display: block
  }
  
  .timeline-marker.timeline-marker-bottom:after {
    display: none
  }
  
  .timeline-marker.timeline-marker-middle {
    margin-top: 20px;
    margin-bottom: 20px
  }
  /*date background */
  .timeline-breaker {
    /* background: #1b1b1b; */
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border-radius: 2px;
    margin: 0 auto;
    text-align: center;
    padding: .6em;
    line-height: 1;
    display: block;
    width: 100%;
    max-width: 15em;
    clear: both
  }

  
  .timeline-breaker a {
    color: #fff
  }
  
  .timeline-breaker a:hover {
    color: #eee
  }
  
  .timeline-breaker:after,
  .timeline-breaker:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 1px;
    width: 0;
    position: absolute;
    pointer-events: none
  }
  
  .timeline-breaker:after {
    border-top-color: #1b1b1b;
    border-width: 10px;
    left: 50%;
    margin-left: -10px
  }
  
  .timeline-breaker:before {
    border-top-color: rgba(0, 0, 0, .01);
    border-width: 11px;
    left: 50%;
    margin-left: -11px
  }
  
  .timeline-breaker.timeline-breaker-bottom,
  .timeline-breaker.timeline-breaker-middle {
    margin-top: 40px;
    margin-bottom: 20px;
    clear: both !important
  }
  
  .timeline-breaker.timeline-breaker-bottom {
    margin-bottom: 0
  }
  
  .timeline-breaker.timeline-breaker-bottom:after,
  .timeline-breaker.timeline-breaker-bottom:before {
    top: -10px;
    border-top: none
  }
  
  .timeline-breaker.timeline-breaker-bottom:after {
    border-bottom-color: #1b1b1b
  }
  
  .timeline-breaker.timeline-breaker-bottom:before {
    border-bottom-color: rgba(0, 0, 0, .01)
  }
  
  .timeline-item.timeline-item-first {
    margin-top: 20px !important
  }
  
  .timeline-item.timeline-item-last {
    margin-bottom: 20px !important
  }
  
  .timeline-item {
    float: none;
    left: auto;
    right: auto;
    width: 100%;
    padding: 15px;
    margin: 60px auto 0;
    background: #f6f6f6;
    border-radius: 2px;
    position: relative;
    border: 1px solid #f2f2f2;
    border-bottom: 3px solid #55A79A;
    text-align: left
  }
  
  
  .timeline-item:after,
  .timeline-item:before {
    top: -20px;
    right: 50%;
    left: 50%;
    position: absolute;
    pointer-events: none;
    display: block;
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    margin-top: 0;
    margin-left: -14px
  }
  
  .timeline-item:after,
  .timeline-item:before,
  .timeline-stacked-down .timeline-item:before {
    display: inline-block;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    speak: none
  }
  
  .timeline-item:before {
    content: "\F0D8";
    color: #f6f6f6
  }
  
  .timeline-item:after {
    content: "\f140";
    top: -39px;
    background: #fff
  }
  
  .timeline-item.highlight:after,
  .timeline-item.marker-highlight:after,
  .timeline-item.tag-featured:after {
    color: #65b1a5
  }
  
  .timeline-item.overlap-push-large {
    margin-top: 120px
  }
  
  .timeline-item.overlap-push-medium {
    margin-top: 60px
  }
  
  .timeline-item.overlap-push-small {
    margin-top: 30px
  }
  
  .timeline-item-date {
    font-weight: 600;
    color: #666
  }
  
  .timeline-item-title {
    margin-top: 0
  }
  .timeline-left,
  .timeline.timeline-left {
    background-position: left top;
    margin-left: 20px;
    padding-bottom: 0;
    text-align: left
  }
  
  .timeline-left .timeline-marker,
  .timeline.timeline-left .timeline-marker {
    margin-left: -5px;
    margin-right: 0
  }
  
  .timeline-left .timeline-breaker,
  .timeline.timeline-left .timeline-breaker {
    margin-left: -20px
  }
  
  .timeline-left .timeline-item,
  .timeline-left .timeline-item.even,
  .timeline-left .timeline-item.right,
  .timeline.timeline-left .timeline-item,
  .timeline.timeline-left .timeline-item.even,
  .timeline.timeline-left .timeline-item.right {
    float: none;
    clear: both;
    width: 92%;
    margin-left: 25px;
    margin-right: 0;
    margin-top: 40px;
    left: auto;
    right: auto
  }
  
  .timeline-left .timeline-item.even:after,
  .timeline-left .timeline-item.even:before,
  .timeline-left .timeline-item.right:after,
  .timeline-left .timeline-item.right:before,
  .timeline-left .timeline-item:after,
  .timeline-left .timeline-item:before,
  .timeline.timeline-left .timeline-item.even:after,
  .timeline.timeline-left .timeline-item.even:before,
  .timeline.timeline-left .timeline-item.right:after,
  .timeline.timeline-left .timeline-item.right:before,
  .timeline.timeline-left .timeline-item:after,
  .timeline.timeline-left .timeline-item:before {
    right: auto;
    left: -20px;
    margin-left: 0;
    top: 20px
  }
  
  .timeline-left .timeline-item.even:after,
  .timeline-left .timeline-item.right:after,
  .timeline-left .timeline-item:after,
  .timeline.timeline-left .timeline-item.even:after,
  .timeline.timeline-left .timeline-item.right:after,
  .timeline.timeline-left .timeline-item:after {
    left: -40px
  }
  
  .timeline-left .pagination,
  .timeline.timeline-left .pagination {
    background: 0 0;
    padding-left: 1em;
    padding-right: 1em
  }
  
  @media (min-width:576px) {
    .timeline.timeline-left .timeline-item,
    .timeline.timeline-left .timeline-item.even,
    .timeline.timeline-left .timeline-item.right,
    .timeline.timeline-right .timeline-item,
    .timeline.timeline-right .timeline-item.even,
    .timeline.timeline-right .timeline-item.right {
      width: 96%
    }
  }